    .main-content {
    display: flex;
    flex-direction: column; /* Organise les composants en colonnes */
    gap: 32px;
  }
  
  /* Styles spécifiques pour chaque section */
  .section {
    background-color: #f9f9f9; /* Un fond clair pour chaque section */
    padding: 16px;
    border-radius: 8px;
    max-height: 500px; /* Limite la hauteur de la boîte */
    overflow-y: auto; /* Permet le défilement vertical */
  }
  
  /* Conteneur pour les animes avec grille */
  .anime-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 colonnes */
    gap: 16px; /* Espacement entre les boîtes */
    padding-bottom: 16px;
    width: 100%; /* S'assure que la largeur du conteneur est suffisante */
    box-sizing: border-box; /* Prend en compte les marges et les paddings dans le calcul de la largeur */
  }
  
  /* Styles pour chaque anime dans la grille */
  .anime-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 12px; /* Réduit l'espace à l'intérieur de la boîte */
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 160px; /* Réduit la largeur maximale des boîtes */
    width: 100%;
    height: 100px;
  }
  
  /* Image des animes */
  .anime-item img {
    max-height: 20px;
    width: 100%;
    height: 100%; /* Réduit la hauteur des images */
    object-fit: cover; /* Maintient l'image dans la boîte */
    border-radius: 4px;
    margin-bottom: 8px;
  }
  
  /* Titre et description */
  .anime-item h3 {
    margin: 8px 0;
    font-size: 1em; /* Réduit la taille du titre */
  }
  
  .anime-item p {
    font-size: 0.85em; /* Réduit la taille de la description */
    color: #666;
    overflow: hidden; /* Masque le texte qui dépasse */
    text-overflow: ellipsis; /* Affiche "..." à la fin de la description */
    white-space: nowrap; /* Empêche la description de se casser en plusieurs lignes */
  }
  